<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';
    {% if page.hash == 'post-2016-02-06-ae71986a' %}
      this.page.identifier = '{{ page.url }}';
    {% else %}
      this.page.identifier = '{{ page.hash }}';
    {% endif %}
  };

  function addDisqus() {
    let disqusThread = document.createElement('div');
    let paragraph = document.createElement('p');

    disqusThread.id = 'disqus_thread';
    paragraph.className = 'text-center text-muted small';
    paragraph.innerHTML = 'Comments powered by <a href="https://disqus.com/">Disqus</a>.';
    disqusThread.appendChild(paragraph);

    const footer = document.querySelector('footer');
    footer.insertAdjacentElement('beforebegin', disqusThread);
  }

  function reloadDisqus(event) {
    if (event.source === window && event.data && event.data.id === Theme.eventId) {
      if (typeof DISQUS === 'undefined') {
        return;
      }

      if (document.readyState === 'complete') {
        DISQUS.reset({ reload: true, config: disqus_config });
      }
    }
  }

  addDisqus();

  if (Theme.isToggleable) {
    addEventListener('message', reloadDisqus);
  }

  var disqusObserver = new IntersectionObserver(
    function (entries) {
      if (entries[0].isIntersecting) {
        var d = document,
          s = d.createElement('script');
        s.src = 'https://{{ site.comments.disqus.shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);

        disqusObserver.disconnect();
      }
    },
    { threshold: [0] }
  );

  disqusObserver.observe(document.getElementById('disqus_thread'));
</script>
